.default {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.heading {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #404040;
	text-decoration: none;
	background-color: #F4F4F4;
	background-position: center bottom;
	text-align: center;
}
.links {
	letter-spacing: normal;
	text-align: left;
	word-spacing: normal;
	color: #0000CC;
	text-decoration: underline;
}
.bolded {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.small {
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
}
a:link {
	text-decoration: none;
	color: #000099;
}
a:visited {
	text-decoration: none;
	color: #000099;
}
a:hover {
	text-decoration: none;
	background-repeat: no-repeat;
	color: #0000FB;
}
a:active {
	text-decoration: none;
	color: #000099;
}
.style2 {font-size: 9px}
